* {
  box-sizing: border-box;
}

body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0px;
}

#app {
  width: 400px;
  max-width: 80%;
  color: #141414;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin: auto;
}

.holder {
  margin-top: 50px;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
}

.headline {
  background-color: #242424;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  color: #f0d43a;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 100%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: gray solid 1px;
}

button {
  display: block;
  width: 100%;
  height: 100px;
  background-color: #323232;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
}

button:hover {
  filter: brightness(125%);
}
h1 {
  font-size: 36px;
}

textarea {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  width: 100%;
  height: 200px;
}

.title {
  font-size: 27px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: gray;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

@media only screen and (min-width: 600px) {
  .headline {
    font-size: 48px;
    justify-content: start;
  }

  #app {
    margin: 20px;
  }
}
